{% extends "global/base.html" %}

{% block content %}
    
    <div class="form-wrapper">
        <h1 class="contact-create-title">
            Criar contato
        </h1>
        <form class="contact-create-form" method="POST" action="{% url "contact:create" %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-content">
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="contact-create-form-label">{{ field.label }}</label>
                        {{ field }}
                        {% comment %} inserindo mensagem de erros para cada fields {% endcomment %}
                        {% if field.errors %}
                            <div class="form-errors">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% comment %} <input type="text" name="first_name" id="id_first_name" class="contact-create-form-input">     {% endcomment %}
                    </div>
                </div>
            {% endfor %}

            <div class="form-content">
                <div class="form-group">
                    <button type="submit" class="btn">
                        Criar contato
                    </button>
                </div>
            </div>

        </form>
    </div>
{% endblock content %}